body {
  font-family: serif;
  color: #000000;
}

#content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.jumbotron {
  /*background-color: #006600;*/
  color: white;
  background-image: url("img/elephant.jpg");
}

#japan, #peru, #south-africa, #switzerland, #stay-home {
  display: none;
}

#links {
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  padding-bottom: 25pt;
}

h1, h2, p {
  text-align: center;
}

p {
  font-size: 13pt;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-bottom: 30px;
}

#season, #dates, #calendar, #budget, #environment, #activities, #food, #disability {
  margin-bottom: 20pt;
}

#first-name, #last-name {
  margin-bottom: 10pt;
}

#submit {
  float: right;
  margin-top: 35pt;
}

.navbar-inverse {
  background-color: #006600;
  border-color: #006600;
}

.fa-facebook-official, .fa-twitter, .fa-pinterest, .fa-instagram {
  color: #000000;
}
