body {
  font-family: serif;
  color: #000000;
}

#intro-page {
  color: #000000;
  background-image: url("../img/coffee.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 20%;
}

h2 {
  margin-top: 50px;
}

#to-survey, .home-btn {
  margin-top: 60px;
  font-size: 20pt;
  background-color: #990066;
  border-color: #990066;
  color: #FFFFFF;
}

#navbar, #content, #footer {
  display: none;
}

#content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 140px;
}

#japan, #peru, #south-africa, #switzerland, #stay-home, .home-btn {
  display: none;
}

.jumbotron {
  text-align: center;
  padding-top: 250px;
  color: #FFFFFF;
}

#japan {
  background-image: url("../img/japan1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#japan-text {
  background: rgba(0,0,0,0.75);
  padding-top: 20px;
  padding-bottom: 20px;
}

#peru {
  background-image: url("../img/peru1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#peru-text {
  background: rgba(0,0,0,0.75);
  padding-top: 20px;
  padding-bottom: 20px;
}

#south-africa {
  background-image: url("../img/johannesburg2.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#south-africa-text {
  background: rgba(0,0,0,0.75);
  padding-top: 20px;
  padding-bottom: 20px;
}

#switzerland {
  background-image: url("../img/zurich2.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#switzerland-text {
  background: rgba(0,0,0,0.75);
  padding-top: 20px;
  padding-bottom: 20px;
}

#stay-home {
  background-image: url("../img/stay-home1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#stay-home-text {
  background: rgba(0,0,0,0.75);
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 25pt;
}

h1, h2, p {
  text-align: center;
}

h1 {
  font-size: 40pt;
  padding-bottom: 45px;
}

p {
  font-size: 15pt;
}

#season, #dates, #calendar, #budget, #environment, #activities, #food, #disability {
  margin-bottom: 20pt;
}

#first-name, #last-name {
  margin-bottom: 0px;
  margin-top: 8px;
}

#submit {
  float: right;
  margin-top: 25pt;
  background-color: #990066;
  border-color: #990066;
  color: #FFFFFF;
  font-size: 15pt;
}

label {
  width: 100%;
  margin: 0 0 0 0;
}

h4 {
  margin-bottom: 10px;
}

#departure-date {
  width: 100%;
  margin-bottom: -15px;
}

#calendar {
  margin-top: 10px;
}

ul {
  list-style: none;
}

#sticky-social {
  position: fixed;
  top: 80px;
  left: -40px;
}

.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
  color:  #000000;
}
