body {
  font-family: serif;
  color: #000000;
}

#content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 140px;
}

#japan, #peru, #south-africa, #switzerland, #stay-home {
  display: none;
}

.jumbotron {
  text-align: center;
  padding-top: 250px;
  color: #FFFFFF;
}

#japan {
  background-image: url("../img/japan1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#peru {
  background-image: url("../img/peru1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#south-africa {
  background-image: url("../img/johannesburg2.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#switzerland {
  background-image: url("../img/zurich2.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#stay-home {
  background-image: url("../img/stay-home1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#links {
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  padding-bottom: 25pt;
}

h1, h2, p {
  text-align: center;
}

h1 {
  font-size: 40pt;
  padding-bottom: 45px;
}

p {
  font-size: 15pt;
}

#season, #dates, #calendar, #budget, #environment, #activities, #food, #disability {
  margin-bottom: 20pt;
}

#first-name, #last-name {
  margin-bottom: 16pt;
}

#submit {
  float: right;
  margin-top: 25pt;
  background-color: #990066;
  color: #FFFFFF;
  font-size: 15pt;
}

label {
  width: 100%;
  margin: 0 0 0 0;
}

/*span {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  padding-bottom: 10px;
}*/

h4 {
  margin-bottom: 10px;
}

#departure-date {
  width: 100%;
}

#padding {
  margin: 0 0 0px;
}

#name-padding {
  margin: 0 0 0px;
}

#name-margin {
  margin-bottom: -18px;
}

#table {
  width: 100%;
}

#first {
  padding-right: 15px;
}

ul {
  list-style: none;
}

#sticky-social {
  position: fixed;
  top: 80px;
  left: -40px;
}

.navbar-inverse {
  background-color: #888888;
  border-color: #888888;
  color:  #000000;
}
